.textContent > * {
  flex: 1 1 100%;
}

.textContent {
  display: flex;
  flex-flow: row wrap;
  padding: 22px 20px 13px;
}

@media all and (min-width: 1024px) {
  .textContent {
    flex-flow: column-reverse nowrap;
    padding: 0 0 0 24px;
    flex-basis: 540px;
    order: 2;
  }
}

@media all and (min-width: 1540px) {
  .textContent {
    flex-basis: 672px;
  }
}
