.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 960px;
  margin: 64px auto;
  padding: 52px 64px;
  background: var(--white);
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
  border-radius: 7px;
  z-index: 100;
}
