.commentItem {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 0 40px;
}

.commentItem:last-child {
  margin: 0;
}

.karmaCounter {
  position: absolute;
  left: -40px;
  top: 0;
}

.commentForm {
  position: relative;
  padding-left: 48px;
}

.commentForm::after {
  content: '';
  position: absolute;
  width: 3px;
  height: calc(100% - 20px);
  background-color: var(--grayD9);
  left: 8px;
  top: 20px;
}
