.menu {
  position: absolute;
  top: 17px;
  right: 15px;
}

@media all and (min-width: 1024px) {
  .menu {
    top: calc(50% - 15px);
    right: 86px;
  }
}

@media all and (min-width: 1540px) {
  .menu {
    right: 96px;
  }
}
