.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 64px 0 64px;
  overflow: auto;
  z-index: 100;
}

.container {
  max-width: 960px;
  padding: 52px 60px;
  margin: 0 auto;
  background: var(--white);
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
  border-radius: 7px;
}
